.card-content-header-inside div{
    font-size: 18px;
    font-weight: 600;
}
.card-content-header-inside div:hover{
    color: #1890ff;
}
.card-content-box{
    height: 220px;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}
.card-content-child{
    display: flex;
    justify-content: space-between;
    height: 200px;
    /* align-items: center; */
    /* border-bottom: 1px solid; */
}
.card-content-child-inside{
    display: grid;
    height: 100%;
    flex: 22;
    text-align: left;
    align-items: center;
}
.card-content-information-inside ul{
    display: flex;
    align-items: center;
}
.card-content-information-inside ul>li{
    width: 80px;
    color: rgb(170, 170, 170);
    font-size: 14px;
    /* border-right: 1px solid; */
}
.card-content-btn{
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.el-link{
    margin-right: 30px;
    color: rgb(170, 170, 170);
}